.testimonial{
    width: 90%;
    margin: 0 auto;
}

.review-red{
    color: var(--mainRed);
}

.review-heading-text{
    clip-path: polygon(0 100%, 99% 100%, 100% 100%, 0% 100%);
    opacity: 0;
    transform: translateY(100px)
}

.review-heading-text p{
    max-width: 500px;
    opacity: 0.7;
}

.review-portfolio-btn{
    opacity: 0;
    transform: translateY(50px);
}

.reviews{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 3em;
    /* display: flex;
    gap: 4em;
    flex-wrap: wrap; */
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2em;
    margin-left: auto;
}

.reviews .review-main{
    margin: 0 auto;
    width: 100%;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.reviews .review-main .review-img{
    height: 400px;
    position: relative;
    width: max-content;
    margin-bottom: 2em;
    transform: translateY(100px);
    opacity: 0;
    
}

.reviews .review-main .review-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.reviews .review-main .review-img .review-text{
    position: absolute;
    z-index: 1;
    bottom: 0;
    background-color: #433F3F;
    width: 100%;
    padding: 1.5em 0;
    text-align: center;
}

.reviews .review-main .review-img .review-text .name{
    color: white;
    font-weight: medium;
    font-size: 15px;
    margin-bottom: .5em;
}

.reviews .review-main .review-img .review-text .role{
    font-size: 14px;
    font-weight: normal;
    color: #DC6B6B;
    margin-bottom: .5em;
}

.reviews .review-main .review-img .review-text .company{
    color: white;
    font-size: 12px;
}



.reviews .review-main .review-text-main{
    text-align: center;
    clip-path: polygon(0 100%, 99% 100%, 100% 100%, 0% 100%);
    transform: translateY(30px);
}

.reviews .review-main .review-text-main p{
    font-size: 12px;
    opacity: 60%;
}


@media screen and (max-width: 670px){
    .reviews{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}