.testimonial{
    width: 90%;
    margin: 0 auto;
}

.review-red{
    color: var(--mainRed);
}

.review-heading-text{
    clip-path: polygon(0 100%, 99% 100%, 100% 100%, 0% 100%);
    opacity: 0;
    transform: translateY(100px)
}

.review-heading-text p{
    max-width: 500px;
    opacity: 0.7;
}

.review-portfolio-btn{
    opacity: 0;
    transform: translateY(50px);
}

.reviews{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 3em;
    /* display: flex;
    gap: 4em;
    flex-wrap: wrap; */
    
    width: 100%;
    margin-bottom: 2em;
    margin-left: auto;
}

.reviews .review-main{
    margin: 0 auto;
    width: 70%;
    border-radius: 14px;
    padding: 2em 2em 2em 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: -3px -3px 32px 4px rgba(0, 0, 0, 0.08);
}

.reviews .review-main .review-img{
    position: relative;
    width: max-content;
    transform: translateY(100px);
    opacity: 0;
    
}

.reviews .review-main .review-img img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    
}

.reviews .review-main .review-img .review-text{
    width: 100%;
    padding: 1.5em 0;
    text-align: center;
}

.reviews .review-main .review-img .review-text .name{
    color: #3C3939;
    font-weight: medium;
    font-size: 15px;
    margin-bottom: .5em;
}

.reviews .review-main .review-img .review-text .role{
    font-size: 14px;
    font-weight: 500;
    color: #3B3939;
    margin-bottom: .5em;
}

.reviews .review-main .review-img .review-text .company{
    color: rgba(248, 98, 98, 1);
    font-size: 12px;
}

.reviews .review-main .review-text-main{
    text-align: center;
    clip-path: polygon(0 100%, 99% 100%, 100% 100%, 0% 100%);
    transform: translateY(30px);
}

.reviews .review-main .review-text-main p{
    font-size: 12px;
    opacity: 60%;
}


@media screen and (max-width: 670px){
    .reviews{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}