.footer{
    background-color: #312E2E;
    width: 100%;
    padding: 4em 0;
}

.footer .footer-wrapper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer .footer-wrapper .logo{
    margin-right: 1em;
}

.footer .footer-wrapper .reach>:nth-child(1){
    margin-bottom: 1em;
    color: #C2BBBB;
    font-weight: medium;
}

.footer .footer-wrapper .reach .reach-general{
    display: flex;
    gap: 2em;
}

.footer .footer-wrapper .reach .reach-left-top{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em
}

.footer .footer-wrapper .reach .reach-left-top p{
    color: #FDF7F7;
    text-decoration: underline;
}

.footer .footer-wrapper .reach .reach-left-bottom h3{
    margin-bottom: 1em;
    color: #C2BBBB;
    font-weight: medium;
}

.footer .footer-wrapper .reach .reach-left-bottom .footer-nav{
    display: flex;
    gap: 2em;
}


.footer .footer-wrapper .reach .reach-left-bottom .footer-nav .footer-nav-left{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer .footer-wrapper .reach .reach-left-bottom .footer-nav .footer-nav-left li a{
    text-decoration: none;
    color: #8B8282;
}

.footer .footer-wrapper .reach .reach-left-bottom .footer-nav .footer-nav-right{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer .footer-wrapper .reach .reach-left-bottom .footer-nav .footer-nav-right li a{
    text-decoration: none;
    color: #8B8282;
}

.footer .footer-wrapper .reach .location{
    color: #FDF7F7;
}

.footer .footer-wrapper .reach .location >:nth-child(1){
    max-width: 300px;
    margin-bottom: 1em;
}

.footer .footer-wrapper .reach .location >:nth-child(2){
    max-width: 350px;
}

.footer .footer-wrapper .icons{
    display: flex;
    gap: 2em;
}

.footer .footer-wrapper .icons a{
    color: #8B8282;
    font-size: 1.2rem;
}

.footer .copyright{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    color: #8B8282;
    gap: 2em;
}

.footer .copyright .dot{
    margin-left: 10px;
}

.footer .copyright .copy-privacy{
    display: flex;
    gap: 1em;
}

.footer .copyright .cookie-terms{
    display: flex;
}

@media screen and (max-width: 850px){
    .footer .footer-wrapper .logo{
        margin-right: 1em;
    }
}

@media screen and (max-width: 828px){
    .footer .footer-wrapper .reach .reach-general{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer .footer-wrapper .reach{
        text-align: center;
    }

    .footer .footer-wrapper .reach .location >:nth-child(1){
        max-width: 100%;
    }
}

@media screen and (max-width: 576px){
    .footer .footer-wrapper{
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .footer .footer-wrapper .logo{
        margin-right: 0em;
    }
}

@media screen and (max-width: 778px){
    .footer .copyright .copy-privacy{
        flex-direction: column;
    }

    .footer .copyright .cookie-terms{
        flex-direction: column;
        gap: 1em;
    }

    .footer .copyright{
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        margin-top: 2em;
    }

    .footer .copyright .dot{
        margin-left: 0px;
    }
    
}

@media screen and (max-width: 428px){
    .footer .copyright{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}